# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Debug files
*.swp

# Coverage reports
coverage/

# IDE files
.vscode/
.idea/

# Others
*.tgz

# Ignore test coverage results
.nyc_output/

# Ignore optional folders (customize as needed)
tmp/
temp/